{
  extends: [
    "@nuxtjs/eslint-config-typescript",
    "plugin:vue/vue3-recommended",
    "plugin:prettier/recommended",
  ],
  rules: {
    "vue/multi-word-component-names": ["error", { ignores: ["index"] }],
    "prettier/prettier": "error",
    'camelcase': 'off',
  },
  "parserOptions": {
    ecmaVersion: "latest",
    sourceType: "module",
  },
  plugins: ["prettier"],
}
